@use "@/styles/variables" as vars;

.swatch {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;

  &.selected {
    border-color: vars.$color-text-primary;
  }
}

@each $name, $value in vars.$marker-colors {
  .color-#{$name} {
    background-color: $value;
  }
}
