@use "@/styles/variables" as vars;

.label {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  padding-left: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 100%;
  box-sizing: border-box;
  color: vars.$color-text-primary;
  font-size: 28px;
  font-weight: 700;
  white-space: nowrap;
}
